:root{
    --yellow:hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --gray:hsl(0, 0%, 42%);
    --gray2: hsl(0, 0%, 7%);
}

@font-face {
    font-family: FigTree;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: FigTree-ExtraBold;
    src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}

@font-face {
    font-family: FigTree-Medium;
    src: url(assets/fonts/static/Figtree-Medium.ttf);
}

body{
    background-color: var(--yellow);
    font-size: 16px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Box{
    height: 500px;
    width: 320px;
    margin: 0;
    padding: 10px;
    background-color: var(--White);
    border: 1.5px solid black;
    border-radius: 20px;
    box-shadow: 9px 10px var(--gray2);

    display: flex;
    flex-direction: column;
    align-items:center;
}

#illustration{
    height: 200px;
    width: 300px;
    padding: 0px;
}

.mini-box{
    height: 300px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

button{
    margin-left: 8%;
    background-color: var(--yellow);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: FigTree-ExtraBold;
    padding: 8px;
}

.profile{
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    margin-left: 10px;
}

.profile img{
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 32px;
}

#p1{
    font-family: FigTree;
    color: var(--gray2);
}

h2{
    font-family: FigTree-ExtraBold;
}

#p2{
    font-family: FigTree-Medium;
    color: var(--gray);
}

.profile p{
    font-family: FigTree-ExtraBold;
}